/* Stili per la lista della lore*/

.lore-lista {
    font-size: 120%;
    line-height: 1.5;
    padding: 0 20% 5% 20%;
}

.lore-lista ul {
    list-style: none;
    padding-left: 0;
}

.lore-lista .icon {
    display: inline-block;
    background: url("../img/EldenRing-BoneFire.png") no-repeat center center;
    width: 50px;
    height: 50px;
    margin-right: 10px;
    background-size: cover;
}

@media (max-width: 768px) {
    .lore-container {
        padding: 10px;
        font-size: 14px;
    }
    .lore-image {
        max-width: 100%;
        height: auto;
    }
}
