.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.profile {
    color: #D4AF37;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.profile-details {
    background-color: rgba(0, 0, 0, 0.7);
    color: #D4AF37;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.profile-details h2 {
    color: #D4AF37;
    margin: 0;
    margin-bottom: 10px;
}

.profile-details p {
    color: #D4AF37;
    margin: 5px 0;
}

.profile-buttons {
    padding: 10px 20px;
    background-color: #D4AF37;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-self: center;
}

.profile-buttons:hover {
    background-color: white;
    color: #D4AF37;
}

@media (max-width: 768px) {
    .profile-container {
        padding: 10px;
    }
    .profile-image {
        width: 80px;
        height: 80px;
    }
    .profile-details {
        font-size: 14px;
    }
}
